# GATEWAY
GATEWAY_HTTP_PORT=80
GATEWAY_HTTPS_PORT=443

# MONGODB
MONGO_URI=mongodb+srv://<db_user>:<db_password>@<cluster-host>.mongodb.net/?appName=Cluster0

# ML SCORER
ML_SCORER_URL=http://ml_scorer:8000
ML_PORT=8000
MODEL_FILE_PATH=/app/waf_model.pkl

# DNS DATABASE (MariaDB)
DNS_DB_HOST=dns_db
DNS_DB_USER=pdns
DNS_DB_PASS=<dns_db_password>
DNS_DB_NAME=powerdns
DNS_DB_ROOT_PASS=<dns_db_root_password>

# FRONTEND / NETWORK
FRONTEND_URL=https://www.example.com
WAF_PUBLIC_IP=<your_server_public_ip>

# RATE LIMITING / DDOS
DDOS_LIMIT=100
RATE_LIMIT=100

# BREVO SMTP
SMTP_USER=noreply@example.com
SMTP_PASS=<brevo_smtp_api_key>

# CLOUDFLARE TURNSTILE (RECAPTCHA)
RECAPTCHA_SITE_KEY=<turnstile_site_key>
RECAPTCHA_SECRET=<turnstile_secret_key>

# POWERDNS
PDNS_IMAGE=powerdns/pdns-auth-49
PDNS_PORT=53
PDNS_API_PORT=8081
PDNS_CONF_HOST_PATH=./dns/pdns.conf

# MARIADB
MARIADB_IMAGE=mariadb:11

# DATABASE SCHEMA
SCHEMA_HOST_PATH=./dns/schema.sql